<div class="footer">
    <a id="social" href="/contacto/contacto.html">CONTACTO</a>
    <a id="inicio" href="/home/index.html">INICIO</a>
    <a id="footer" href="/productos/productDetail.html">PRODUCTOS</a>
    <a id="footer" href="/comisiones/comisiones.html">COMISIONES</a>
    <br>
    <a id="social" href="https://x.com/s0s_arte">TWITTER</a>
    <br>
    <a id="social" href="https://www.instagram.com/s0s_arte/">INSTAGRAM</a>
    <br>
    <a id="social" href="https://discord.com/channels/@s0fii__.">DISCORD</a>
    <br>
    <a id="social" href="https://www.tumblr.com/blog/sousarte">TUMBLR</a>
</div>