body {
    font-family: "Jockey One", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #F8F6E7;
    width: 100%;
    height: 50px;
}

.nav-bar {
    list-style-type: none;
    
}

.nav-img-icon {
    width: 50px;
    border-radius: 50px;
    margin-right: 90%;
}

.nav-img {
    width: 50px;
    display: inline-block;
    padding-right: 10px;
}

#enotroplano {
    width: 860px;
    height: 620px;
    display:block;
    margin:auto;
}

.ilustraciones {
    font-family: "Jockey One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
}

h1 {
    font-size: 96px;
    text-align: center;
}

h2 {
    font-size: 48px;
    text-align: center;
}

button {
    font-family: "Jockey One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FAD899;
    font-size: 40px;
    
}

#ver {
    color: black;
    text-decoration-line: none;
}

.bloque {
    width: 500px;
    height: 750px;
    background-color: #F8F6E7;
    display:block;
    margin:auto;
}

.dibujo {
    width: 350px;
    height: 350px;
    position: relative;
    top: 50px;
    left: 75px;
}

.nombre {
    font-size: 36px;
    position: relative;
    top: 50px;
    left: 75px;
}

.tamaño {
    font-size: 32px;
    position: relative;
    left: 75px;
}

.comisiones {
    text-align: center;
}

#img-comisiones {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    display:block;
    margin:auto;
    position: relative;
    top: 250px;
}

#título-comisiones {
    position: relative;
    margin-top: 250px;
}

#pedido {
    color: black;
    text-decoration-line: none;
    text-align: center;
}

label {
    font-size: 40px;
    position:relative;
    left: 500px;
}

.input {
    height: 100px;
    width: 800px;
    border-width: 5px;
    background-color: #F8F6E7;
    font-family: "Jockey One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    position:relative;
    left: 500px;
}

#ingresar {
    position: relative;
    display:block;
    margin:auto;
    top: 10px;
    font-size: 40px;
    font-family: "Jockey One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FAD899;
}

.nav-footer {
    background-color: #F8F6E7;
    height: 400px;
    
}

.nav-head {
    text-decoration-line: none;
    color: black;
    display: inline-block;
    font-size: 36px;
    padding-right: 300px;
}

.redes {
    color: black;
    text-decoration-line: none;
}