<!-- Menú principal de navegación -->
<nav>
    <ul>
      <li> <a href="#"> <img src="/assets/imágenes/ícono.png" alt="ícono"> </a> </li>
      <li> <a href="#"> PRODUCTOS </a> </li>
      <li> <a href="#"> COMISIONES </a> </li>
      <li> <a href="#"> CONTACTO </a> </li>
      <li> <a href="#"> <img src="/assets/imágenes/usuario.png" alt="usuario"> </a> </li>
      <li> <a href="#"> <img src="/assets/imágenes/carrito.png" alt="carrito"> </a> </li>
    </ul>
  </nav>