<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head') %>

    <body> 
         
        <!--Menú-->
        <%- include('./partials/menu') %>

        <section>
            <nav class="producto-carrito">
                <h4 id="agua-carrito">AGUA</h4>
                <img id="img-agua-carrito" src="/assets/agua.png">
                <ul class="carrito">
                    <li>CANTIDAD: 1</li>
                    <li>PRECIO: $20</li>
                    <li>VOLVER</li>
                </ul>
                <button id="botón-comprar">COMPRAR</button>
            </nav>
          </section>
   
        <!--Footer-->
        <%- include('./partials/footer') %>

    </body>

</html>