<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head') %>

    <body> 
         
        <!--Menú-->
        <%- include('./partials/menu') %>
   
        <!--Footer-->
        <%- include('./partials/footer') %>

    </body>
<body>
    
</body>
</html>