<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head') %>

    <body> 
        
        <!--Menú-->
        <%- include('./partials/menu') %>

        <div class="caja-uno">
            <img id="img" src="/assets/pescador de estrellas.png">
            <h4 id="título">PESCADOR DE ESTRELLAS</h4>
            <h5 id="título">1240 × 1754</h5>
        </div>
        <div class="caja-dos">
            <img id="img-dos" src="/assets/perfil.png">
            <h4 id="título">PERFIL</h4>
            <h5 id="título">1280 × 1280</h5>
        </div>
  
        <!--Footer-->
        <%- include('./partials/footer') %>

    </body>
</html>