<!DOCTYPE html>
<html lang="es">
    <!--HEAD-->
    <%- include('../partials/head.ejs') %>
    
    <body>
        <!--MENU-->
        <%- include('../partials/menu.ejs') %>

        <!--FOOTER-->
        <%- include('../partials/footer.ejs') %>
    </body>

</html>