<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <!-- Incluye menu.ejs partial -->
    <%- include('./partials/menu') %>

  </body>
</html>